body {
    background-color: rgba(170, 236, 203, 0.837);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h2 {
    font-size: 110%;
}

.intressen {
    display: flex;
}

.ruta {
    background-color: rgba(236, 203, 170, 0.818);
    margin: 10px;
    width: 40%;
    border-style: solid;
}

ul {
    text-align: left;
}

.bild {
    width: 20%;
    background-image: url(noter.jpg);
}

img {
    width: 30%;
    margin: auto;
}